.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5%;
  /* padding: 10px; */
  background-color: #1d2732;
  /* border-bottom: 1px solid #e7e7e7; */
  position: relative;
}

.logo h2 {
  margin: 0;
  font-size:x-large;
  color: white;
  padding: 10px;
}

.avatar img {

  width: 30px;
  height: 40px;
  border-radius: 50%;
}
/* 
.navbar {
  z-index: 100;
} */